<%= form_for(@question,html: { multipart: true, class: "form-horizontal" }) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <div class = "col-md-3">
    <%= f.label :content %><br>
    <%= f.text_field :content ,class: 'form-control'%>
  </div>
  </div>
  <div class="form-group">
  <div class = "col-md-2">
    <%= f.submit class: 'btn btn-primary form-control' %>
  </div>
  </div>
<% end %>
