<h1 style="font-weight: bold;">Forum</h1>
<%=link_to "New Question",new_question_path,class: 'btn btn-success' %>
<br>
<br>

<% @questions.each do |question| %>
  
  <div style="border: 1px solid black; background-color:#b9e4f7;">
               <h3 style="font-weight: bold;"><%= question.content %></h3>
               <%=  time_ago_in_words(question.created_at) %> ago by <%= question.user.email %>
               <br>
              <% if can? :update,question %>
                <%= link_to "Edit",edit_question_path(question),id: 'link' %> |
              <% end %>
              <% if can? :update,question %>
                <%= link_to "Destroy",question,method: :delete,data: {confirm: 'Are you sure?'},id: 'linkd'%>
                <% end %>

               <% if question.answers.any? %>
                 <h4 style="font-weight: bold;">Answers:</h4>

                 <%= render question.answers %>
               <% end %>

               <br>
               <p style="font-weight: bold;">Add Answer</p>
               <%= form_for ([question,question.answers.build]) do |f| %>
                 <%= f.text_area :content %>
                 <%= submit_tag "Add" ,class: 'btn btn-primary' %>
               <% end %>
    
  </div>

  <br>
  <br>

  <% end %>