<!DOCTYPE html>
<html>
<head>
  <title>Myforum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
    <% if user_signed_in? %>
      <h3 style="font-weight: bold; color: purple;">Welcome,<%= current_user.email %></h3>
      <%= link_to "Logout",destroy_user_session_path,method: :delete,class: 'btn btn-primary' %>
    <% else %>

     </br>
     </br>
     <div class="jumbotron">
     <h5> The Forum! </h5>
     </div>
      <p style="text-align: center;"><%= link_to "Sign In",new_user_session_path,class: 'btn btn-primary' %></p>
    <% end %>  
    
    <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>
<%= yield %>

</body>
</html>

<script>
  
  $(".alert" ).delay(5000).slideUp(1000);

</script>

